* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: gray;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: azure;
    width: 40vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#headind {
    font-size: 2rem;
    text-align: center;
}

#jokes {
    text-align: center;
    font-size: 1.5rem;
    margin: 40px;
}

#btn {
    padding: 10px;
    background-color: burlywood;
    color: black;
    margin: 50px auto;
    box-shadow: 0.5px 0.1pc 0.1px 0.5px palegreen;
}

#btn:hover {
    color: black;
    background-color: olive;
    cursor: pointer;
}